<div class="${baseClass} dashlet">
   <div class="${baseClass}--title title">
      ${label.title}
   </div>
   <div data-dojo-attach-point="toolbarNode" class="${baseClass}--toolbar toolbar"></div>
   <div data-dojo-attach-point="titleBarActionsNode" class="${baseClass}--titleBarActions titleBarActions"></div>
   <div data-dojo-attach-point="toolbar2Node" class="${baseClass}--toolbar2 toolbar"></div>
   <div data-dojo-attach-point="bodyNode" class="${baseClass}--body body"></div>
</div>