.alfresco-share .alf-header-menu-bar .dijitMenu .dijitMenuItemHover td,
.alfresco-share .alf-header-menu-bar .dijitMenu .dijitMenuItemSelected td,
.alfresco-share .alf-header-menu-bar .dijitMenu .dijitMenuItemHover,
.alfresco-share .alf-header-menu-bar .dijitComboBoxMenu .dijitMenuItemHover,
.alfresco-share .alf-header-menu-bar .dijitMenuItemSelected {
   background-color: #717171;
   background-image: none;
   background-repeat: no-repeat;
   color: #fff;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-my-sites-icon {
   background: url("./images/recent-site.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-recent-site-icon {
   background: url("./images/recent-site.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-favourite-site-icon {
   background: url("./images/favourite-site.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-add-favourite-site-icon {
   background: url("./images/add-favourite.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-remove-favourite-site-icon {
   background: url("./images/remove-site.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-site-finder-icon {
   background: url("./images/site-finder.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-create-site-icon {
   background: url("./images/create-site.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-user-status-icon {
   background: url("./images/user-status.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-user-profile-icon {
   background: url("./images/user-profile.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-user-help-icon {
   background: url("./images/user-help.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-user-logout-icon {
   background: url("./images/user-logout.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-user-password-icon {
   background: url("./images/user-password.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-admin-icon {
   background: url("./images/admin.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-loading-icon {
   background: url("./images/wait.gif");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-mytasks-icon {
   background: url("./images/my-tasks.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-myworkflows-icon {
   background: url("./images/my-workflows.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}
